<div class="{{ actions_class }}">
	<button class="{{ dismiss_button_class }}" data-newsletters-close type="button">{{ dismiss_label }}</button>
	<button class="{{ submit_button_class }}" data-newsletters-submit type="submit">{{ submit_label }}</button>
</div>
