<div class="{{ success_class }}" data-newsletters-success aria-hidden="true">
	<p class="{{ success_emoji_class }}" aria-hidden="true">{{ success_emoji }}</p>
	<p class="{{ success_message_class }}">{{ success_message }}</p>
</div>
